<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('./navbar'); -%>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <% if (user != null) { %>
        <p>Nice to see you: <%= user %></p>
        <form action="/sessions/logout" method="POST">
          <input type="submit" value="Logout" />
        </form>
        <ul class="messages"></ul>
      <% } else {  %>
        <a href='/sessions'>Login</a>
      <% } %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
      <script>
          const socket = io('ws://localhost:3000/');
          const messages = document.querySelector('.messages');
          socket.on('msg', function(text) {
              console.log('--- new message');
              console.log(text);
              const li = document.createElement('li');
              li.textContent = text;
              messages.appendChild(li);
          });
    </script>
  </body>
</html>
