<!DOCTYPE html>
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/ChatStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/images/Ziv-logo.png" type="image/x-icon">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>ChatUp</title>
</head>
<%- include('../navbar'); -%>
<body class="body" id="body">
    <div class='container'>
        <main id="main" lass="main">
            <header id="room-info-header" class="room-info-header">
                <div class="room-info-name">
                    <p id="p-roomName" class="theroomname" data-username="{{result['username']}}"></p>
                </div>
                <div class="room-info-info">
                    <i class="fas fa-info-circle" role="button"></i>
                </div>
            </header>
            <div id="cons" class="cons">
            </div>
            <div id="gingi" style="position: absolute;"><button id="Back" class="btn-new-room" style="background-color: #38d5b2;">Back</button></div>
            <div id="clear" class="clear"><img id="img" class="clip-animation" src="/images/Ziv-logo.png"><br><span>You are using Chatup<br>start Chating!!!<br><button class="btn-new-room"><a href="/Chatup/NewRoom">Create Room</a></button></span></div>
            <div id="send" class="send _3uMse"> 
                 <input type="text" id="message-here" class="my-message-box" placeholder="your Message here"/>
                 <i class="fas fa-paper-plane"></i>
            </div>
            <div style="text-align: center;"><input id="input" step="1" type="range" min="0" max="360" value="0"></div>

            <div class="info-section" id="infoRoom" style="display: none;">
                <div class="header">
                    <span id="info-close" role="button" onclick="closeRoomInfo()">×</span>
                    <h3>Group info</h3>
                </div>

                <div class="session-info">
                    <label>Get Room Link Invitation</label>
                        <div class="link-row">
                            <input type="text" id="roomLinkInput" readonly style="background-color: #dadada; border: 0.5px solid rgba(74, 68, 62, 0.893); border-radius: 4px;">
                            <a class="ui-tooltip" title="Copy Link To Clipboard"><i class="fas fa-copy" role="button" onclick="copyLink()" style="font-size: large; color: #f1a642;;"></i></a>
                        </div>
                </div>

                <div class="session-info">
                    <label>Group members</label>
                        <div class="user-row">
                            <span class="admin"></span>
                        </div>
                        <div class="all-users-in-list">
                        </div>
                </div>
            </div>

        </main>

        <div id="sidebar" class="sidebar">
            <button class="btn-new-room"><a href="/Chatup/NewRoom">Create Room</a></button>
            <button class="btn-new-room"><a href="/Chatup/NewContact">Create Contact</a></button>
            <button class="btn-new-room"><a href="/Chatup/NewRoom/JoinRoom">Join Room</a></button>

            <ul id="room-list" class="room-list">
                <% if (snitchel!=null){ %>
                    <% for (let i = 0; i < rooms.length; i++) { %>
                        <% const element = rooms[i]; %>
                        <% console.log(element, rooms, '-1-1-1---1-1-1-1-11--1-1-1') %>
                        <li id="<%= i %>" class="room"><div id="Nope" class="parent"><span id="No" class="roomname"><%= element %></span> <i class='material-icons remove'>delete</i></div></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>